@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
}

.header {
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo2 {
  height: 40px;
  width: 40x;
  display: inline-block;
  object-fit: fill;
  margin-right: 0px;
  transition: 0.9s;
}

.logo1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d56;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
.logo2:hover {
  height: 110px;
  width: 110px;
  display: inline-block;
  object-fit: cover;
  box-shadow: 0 0 10px rgb(8, 143, 227);
}
.logo1 {
  font-size: 25px;
  text-decoration: none;
  font-weight: 600px;
  color: aliceblue;
  position: relative;
}

.naver a {
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  margin-right: 36px;
  font-weight: 500;
  transition: 0.3s;
}
.naver a:hover,
.naver a.active {
  color: rgb(0, 222, 222);
  text-decoration: none;
}
.home {
  height: 100vh;
  align-items: center;
  display: flex;
  padding: 0 10%;
  background: url(Home.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.home-content {
  max-width: 500px;
}
.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: aqua;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 30px;
}

.home-content .btnbox {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 50px;
  width: 350px;
}

.btnbox a {
  justify-content: center;
  position: static;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #038adf;
  border: 2px solid #038adf;
  font-weight: 600;
  border-radius: 8px;
  display: inline-flex;
  font-size: 19px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btnbox a:nth-child(1) {
  background-color: transparent;
  color: #038adf;
}

.btnbox a:nth-child(2) {
  background-color: transparent;
  color: #038adf;
}

.btnbox a:hover {
  background-color: #038adf;
  color: black;
}

.home-sci {
  position: absolute;
  display: flex;
  bottom: 40px;
  width: 210px;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  color: #038adf;
  border: 2px solid #a2b8fb;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.home-sci a:hover {
  color: black;
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #038adf;
  z-index: -1;
  transition: 0.5s;
}
.home-sci a:hover::before {
  width: 100%;
}
.homeImghover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
}
.homeImghover:hover {
  background: rgba(4, 27, 94, 0.667);
  opacity: 0.8;
}
/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}
